
.divider-text:before,
.divider-text:after 
{
    color:white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;


}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Light mode styles */
body {
    --background-color: #ffffff;
    --text-color: #000000;
    --navbar-bg-color: #f8f9fa;
    --navbar-text-color: #ffffff; /* Ensure navbar text is white in light mode */
    --dropdown-bg-color: #f8f9fa;
    --dropdown-text-color: #ffffff;
}

    /* Dark mode styles */
    body.dark-mode {
        --background-color: #121212;
        --text-color: #ffffff;
        --navbar-bg-color: #333333;
        --navbar-text-color: #ffffff;
        --dropdown-bg-color: #333333;
        --dropdown-text-color: #ffffff;
    }

/* Apply the variables to elements */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
}

 
